<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- set variables with fallbacks -->
{{ $title := .Site.Title  }}
{{ if and (.Title) (ne .Title .Site.Title)  }}
  {{ $title = (delimit (slice .Title " | " ($title)) "")  }}
{{ end  }}

{{ $description := .Site.Params.description  }}
{{ if .Description  }}
  {{ $description = .Description }}
{{ end  }}

{{ $coverImage := .Site.Params.coverImage  }}
{{ if .Params.coverimage  }}
  {{ $coverImage = .Params.coverimage  }}
{{ end  }}

{{ $coverImageAlt := .Site.Params.coverImageAlt  }}
  {{ if .Params.coverimagealt  }}
{{ $coverImageAlt = .Params.coverimagealt  }}
{{ end  }}

<title>{{ $title }}</title>

<!-- Meta tag help is courtesy of https://autonome.github.io/silobuster/ -->
<meta name="description" content="{{ $description }}" />

<!-- Schema.org markup (Google) -->
<meta itemprop="name" content="{{ $title }}">
<meta itemprop="description" content="{{ $description }}">
<meta itemprop="image" content="{{ $coverImage | absURL  }}">

<!-- Twitter Card markup-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Params.twitter  }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:creator" content="{{ .Site.Params.twitter  }}">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image" content="{{ $coverImage | absURL  }}">
<meta name="twitter:image:alt" content="{{ $coverImageAlt  }}">

<!-- Open Graph markup (Facebook, Pinterest) -->
<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink  }}" />
<meta property="og:image" content="{{ $coverImage | absURL  }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:site_name" content="{{ .Site.Title  }}" />
